* {
    background-color: beige;
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    background-color: green;
    color: beige;
    text-align: left;
    font-family: Georgia, serif; 
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
        
}

i,h2, h3 {
    color: orangered;
}

h4 {
    color: green;
}

ol,li, p  {
    color: rgb(66, 66, 66);
    font-family: Verdana, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.recipelist li{
    display: inline-block;
    margin: 10px 5px 10px 5px;
    
    
}

.recipelist ul {
    text-align: center;
}