* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: brown;
    color: antiquewhite;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    text-align: center;

}

.header h1 {
    background-color: inherit;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: orange;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.menu-item {
    text-align: center;
    background-color: inherit;
    margin: 20px;
}

.menu-item img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: outset 7px whitesmoke;

}

.menu-item p {
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: whitesmoke;

}
a, p {
    background-color: inherit;
}

.menu-item img:hover{
    border-style: inset;
}
